doctype
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 My Site
    .container
      .main-content
        block content
      .sidebar
        block sidebar
        
     button(onclick="move()") newPage
      script.
        function move() {
          window.location.href = '/newpage'
        }
  
    footer
      p Running on node with Express, Jade and Stylus